In [39]:
import os
import matplotlib.pyplot as plt
from collections import namedtuple
import seaborn as sns, numpy as np
import pandas as pd
import numpy as np

import scipy.stats as st

from pathlib import Path
TtestResults = namedtuple("Ttest", "T p")

In [40]:
FGFCsvFile = '/Users/frelab/Desktop/BTrack_Timelapses/Statistics_FGF10/Statistics_FGF10.csv'
WTCsvFile = '/Users/frelab/Desktop/BTrack_Timelapses/Statistics_WT/Statistics_WT.csv'
Savedir = '/Users/frelab/Desktop/BTrack_Timelapses/TTest/'
Path(Savedir).mkdir(exist_ok=True)

In [41]:
datasetFGF = pd.read_csv(FGFCsvFile)
dfFGF = pd.DataFrame(datasetFGF)


velocityFGF = datasetFGF["Velocity"]
velocityFGF = np.asarray(velocityFGF)
dfFGF

     ID  Velocity
0   ID3  0.153959
1   ID2  0.279456
2   ID0  0.355511
3   ID1  0.303217
4   ID5  0.153350
5   ID4  0.176467
6   ID6  0.210025
7   ID3  0.205143
8   ID2  0.159169
9   ID0  0.248717
10  ID1  0.146656
11  ID5  0.263376
12  ID4  0.263650
13  ID6  0.173491
14  ID7  0.202860
15  ID8  0.300960
16  ID3  0.196441
17  ID2  0.197474
18  ID0  0.210950
19  ID1  0.203275
20  ID5  0.097000
21  ID4  0.225385
22  ID3  0.114600
23  ID2  0.216450
24  ID0  0.242561
25  ID1  0.214700

In [42]:
datasetWT = pd.read_csv(WTCsvFile)
dfWT = pd.DataFrame(datasetWT)

velocityWT = datasetWT["Velocity"]
velocityWT = np.asarray(velocityWT)
dfWT

       Experiment  Velocity
0          98C_P2  0.112061
1          98C_P2  0.139755
2          98C_P2  0.114075
3          98C_P2  0.101320
4             84C  0.221447
5             84C  0.238332
6             84C  0.147163
7             84C  0.232826
8          52D_P2  0.167324
9          52D_P2  0.202896
10         52D_P2  0.164406
11         52D_P2  0.155878
12         52D_P1  0.180398
13         52D_P1  0.191602
14         52D_P1  0.276923
15         52D_P1  0.135023
16         52D_P1  0.220523
17         52D_P1  0.173349
18         52D_P1  0.130650
19            94C  0.165752
20            94C  0.216164
21            94C  0.126309
22         98C_P1  0.206870
23         98C_P1  0.119909
24         98C_P1  0.106327
25         98C_P1  0.291300
26  104F_day4and5  0.268514
27  104F_day4and5  0.182200
28  104F_day4and5  0.157284
29  104F_day4and5  0.155294
30  104F_day4and5  0.110946
31  104F_day4and5  0.194600
32  104F_day4and5  0.195738

In [43]:
def t_welch(x, y, tails=2):
    """
    Welch's t-test for two unequal-size samples, not assuming equal variances
    """
    assert tails in (1,2), "invalid: tails must be 1 or 2, found %s"%str(tails)
    x, y = np.asarray(x), np.asarray(y)
    nx, ny = x.size, y.size
    vx, vy = x.var(ddof=1), y.var(ddof=1)
    df = ((vx/nx + vy/ny)**2 / # Welch-Satterthwaite equation
            ((vx/nx)**2 / (nx - 1) + (vy/ny)**2 / (ny - 1)))
    t_obs = (x.mean() - y.mean()) / np.sqrt(vx/nx + vy/ny)
    p_value = tails * st.t.sf(abs(t_obs), df)
    return TtestResults(t_obs, p_value)

In [50]:
ttestresult = t_welch(velocityWT, velocityFGF)
print(ttestresult)

t, p = st.ttest_ind(velocityWT, velocityFGF, equal_var = False)

print(t, p)

Ttest(T=-2.467558979078018, p=0.01712562878513172)
-2.467558979078018 0.01712562878513172